<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<!--===========================Bootsrap CSS===========================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.css}" />
<!--===========================Custom CSS=============================-->
<link rel="stylesheet" type="text/css" th:href="@{/customCss/addPlate.css}" />
<!--==================================================================-->

<head>
    <title>Plate Recognation Add Plate</title>
    <meta charset="utf-8">

    <style>
        input[type=submit] {
            background-color: #5cb85c;
            border: none;
            color: white;
            border-radius: 5px;
            padding: 4px 8px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <!--==================================================================-->
    <header>
        <div class="header">
            <div class="header-left">
                <a class="active" href="/home">Home</a>
            </div>

            <div class="header-right">
                <input type="submit" value="Sign Out" />
            </div>
        </div>
    </header>
    <!--==================================================================-->

    <div class="mid">
        <div class="image-mid">
            <img src="/img/plate-icon.png" alt="" width="72" height="72" />
        </div>

        <div class="text-center">
            <h1 class="h3 mb-3 font-weight-normal">Add New Authorized Plate</h1>
        </div>

        <input type="text" id="new_plate" class="form-control" placeholder="New Authorized Plate" />
        <input type="password" id="pass" class="form-control" placeholder="Password" />
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="addPlate()">Add</button>

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

        <div class="text-center">
            <p class="mt-5 mb-3 text-muted">Plate Recognition Project</p>
        </div>
    </div>

    <!--=============================JQuery==============================-->
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <!--============================Custom JS=============================-->
    <script type="text/javascript" th:src="@{customJs/addPlate.js}"></script>

</body>

</html>