.custom-left {
    width: 50%;
    float: left;
}

.custom-right {
    width: 50%;
    float: right;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
}

.header a.active {
    background-color: #5cb85c;
    color: white;
}

.header {
    overflow: hidden;
    background-color: #2C2E30;
    padding: 10px 5px;
}

.header-right {
    float: right;
}

.header-left {
    float: left;
}

.side-header {
    border: 3px solid #292b2c;
    background-color: #ce831a;
    text-align: center;
    padding: 0px 5px;
}

.search-box {
    width: 80%;
    float: left;
}

.search-button {
    width: 20%;
    float: right;
}