.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.mid {
    width: 350px;
    height: 340px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -170px;
}

.text-center {
    text-align: center;
}

.image-mid {
    width: 72px;
    height: 72px;
    left: 50%;
    margin: auto;
}